*{
    margin: 0 auto;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }


@font-face{
    font-family: "Roboto-Thin";
    src: url("Roboto-Thin.ttf")
}

section{
    width: 100vw;
    height: 100vh;
    background-color: #CBCCD1;
}
.homeSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#logoSvg{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: logo 2s ease-in-out alternate forwards;
}

.navbar-brand{
    margin-left: 8px;
}

.iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoContainer{
    background-color: white;
    border-radius: 4em;
    animation: fade 2s ease-in-out alternate forwards;
}
#navbar{
    transition: all;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    transform: translateY(-80px);
}

#circulo{
    transition: all;
    box-shadow: #383838;
    animation: fade 2s ease-in-out alternate forwards;
}

@keyframes logo {
    form{
        stroke-dashoffset: 1000;
    }
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.detalles{
    background-color: darkmagenta;
    color: aliceblue;
    text-align: center;
}
.infografico{
    padding: 40px;
    background: rgb(255, 0, 91, 0.5);
    color: 434343;
    text-align: center;
    width: 100%;
}
.inner{
    max-width: 1200px;
    overflow: hidden;
    padding: 0 20px;
}
.border{
    width: 160px;
    height: 5px;
    background: rgb(255, 0, 100, 0.5);
    margin: 26px auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.info{
    background: #fff;
    padding: 30px;
    border-color: black;
}
.info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color: black;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
.cuerpox{
    background-color: rgb(255, 0, 91, 0.5);
}
.cards{
    border-color: rgb(255, 0, 91, 0.5);
    background: url(images/fondo.png);
    padding: 25px;
    
}
.tipo{
    fill:#383838;
    font-family:'Roboto-Thin';
    font-size:45.4054px;
    letter-spacing:22px;
    animation: fade 1s ease-in-out 1s alternate forwards ;
    opacity: 0;
}

@keyframes conten {
    from{
        transform: scaleX(1) scaleY(1);
        border-radius: 4em;

    }
    to{
        transform: scaleX(3) scaleY(1.5) ;
        border-radius: 0em;

    }
}
.tarjeta{
    width: 360px;
    background: #f1f1f1;
    border: 1px solid #ddd;
    margin: 8px 2px;
}
.tarjeta:hover{
    
    background-color: bisque;
    border-color: darkmagenta;
}
.superior{
    height: 310px;
    overflow: hidden;
    background: #fff;
    position: relative;
    
}
#imagensotaFL{
    width: 360px;
    height: 240px;
    
}
#imagensotaFM{
    width: 360px;
    height: 240px;
    
}
#imagensotaFR{
    width: 360px;
    height: 240px;
    
}
#imagensota:hover{
    width: 360px;
    height: 240px;
    opacity: 1;
}
.nav{
    text-align: center;
}
.nav img{
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    margin: 8px 2px;
    opacity: 0.5;
}

.nav img:hover{
    opacity: 1;
    cursor: pointer;
    border-color: rgb(255, 0, 91, 0.5);
}
.precio{
    position: absolute;
    top: 20px;
    right: 20px;
    color: black;
    font-size: 24px;
}

.informacion{
    background: #c4e0ee;
    padding: 12px;
}
.nombre{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 24px;
    color: #333;
}
.detalle{
    font-style: italic;
    opacity: 50%;
}
.btn{
    text-decoration-color: aliceblue;
    text-transform: uppercase;
    font-style: bold;
    display: block;
    text-align: center;
    background: #3399cc;
    padding: 10px;
    margin-top: 10px;
    transition: 0.3s;
}

.btn:hover{
    color: aliceblue;
    background: #0b608a;
}