body {
  margin-top: 105px; }

@font-face{
    font-family: "Roboto-Thin";
    src: url("Roboto-Thin.ttf")
}


.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase {
  position: relative;
  background: url("../img/uprintfondo.png");
  min-height: 600px; }
  #showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#authors img {
  margin-top: -50px; }
#authors .card:hover {
  background: #3292a6;
  color: #fff; }
#authors .fab {
  color: #fff; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 4rem; }

  .mb-resp {
    margin-bottom: 1rem; } }
element.style {
}
#shoppingBag{
  color: #3e5ff1;
}
@media (min-width: 992px)
.d-lg-block {
    display: block !important;
}
#newsletter1{
  margin-top: -40px;
}
.showInfo{
  cursor: pointer;
}

#first {
  display: block;
  background: url(../img/fondo11.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 800px 450px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 800px) {
  .izquierda, .derecha{height: 50vh;}
    #first {
  display: block;
  background: url(../img/fondo11.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 400px 255px;
  width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}



#first2 {
  display: block;
  background: url(../img/dif2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1300px 700px;
  width: 100%;
  height: auto;
}

#btsignup{
  color: black;
   border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid green;
  padding: 14px 40px;
  outline: none;
  border-radius: 24px;
  cursor: pointer;
  font-family: "montserrat" sans-serif;
}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  text-align: center;
  border: 2px solid #0b608a;
}
.box img{
  width: inherit;
  height: inherit;
}
.box h1{
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="email"],.box input[type="password"]{
  border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #0b608a;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="email"]:focus,.box input[type="password"]:focus{
  width: 280px;
  border: 2px solid #0dba93;
}
.box input[type="submit"]{
  color: black;
   border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #0dba93;
  padding: 14px 40px;
  outline: none;
  border-radius: 24px;
  cursor: pointer;
  font-family: "montserrat" sans-serif;
  transition: 0.15s;
}
.box input[type="submit"]:hover{
  background-color: aliceblue;
}

.tarjeta{
  width: 360px;
  background: #f1f1f1;
  border: 1px solid #ddd;
  margin: 8px 2px;
}
.tarjeta:hover{
  
  background-color: bisque;
  border-color: #0b608a;
}
.superior{
  height: 310px;
  overflow: hidden;
  background: #fff;
  position: relative;
  
}
#imagensotaFL{
  width: 360px;
  height: 240px;
  
}
#imagensotaFM{
  width: 360px;
  height: 240px;
  
}
#imagensotaFR{
  width: 360px;
  height: 240px;
  
}
#imagensota:hover{
  width: 360px;
  height: 240px;
  opacity: 1;
}
.nav{
  text-align: center;
}
.nav img{
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  margin: 8px 2px;
  opacity: 0.5;
}

.nav img:hover{
  opacity: 1;
  cursor: pointer;
  border-color: #0b608a;
}
.precio{
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
  font-size: 24px;
}

.informacion{
  background: #c4e0ee;
  padding: 12px;
}
.nombre{
  color: aliceblue;
  text-transform: uppercase;
  font-size: 24px;
  color: #333;
}
.detalle{
  font-style: italic;
  opacity: 50%;
}
.btn{
  text-decoration-color: aliceblue;
  text-transform: uppercase;
  font-style: bold;
  display: block;
  text-align: center;
  background: #3399cc;
  padding: 10px;
  margin-top: 10px;
  transition: 0.3s;
}

.btn:hover{
  color: aliceblue;
  background: #0b608a;
}

.info{
  background: #fff;
  padding: 30px;
  border-color: black;
}
.info img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: black;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.cards{
  padding: 25px;
  
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.detalles{
  background-color: darkmagenta;
  color: aliceblue;
  text-align: center;
}
.infografico{
  padding: 40px;
  background: rgb(255, 0, 91, 0.5);
  color: 434343;
  text-align: center;
  width: 100%;
}
.inner{
  max-width: 1200px;
  overflow: hidden;
  padding: 0 20px;
}
.border{
  width: 160px;
  height: 5px;
  background: rgb(255, 0, 100, 0.5);
  margin: 26px auto;
}
