<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/logo.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <title>UPrint</title>
</head>
<body>

    <nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#"> 
                <img src="logo/homelogo-01.png" width="180px" height="32px" alt="logo">
            </a>
            <ul class="navbar-nav">
            <li class="nav-item active float-right">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <div class="iconContainer">
                <a href="#"><i class="material-icons">shopping_basket</i></a>
            </div>
            </ul>
        </div>

    </nav>
    <div class="container">
      <button type="button" class="btn btn-dark btn-lg btn-block">
                <h1 class="display-4"><small>Catálogo</small></h1>
            </button>  </div>
    <div class="cards" style="border-color: rgb(255, 0, 91, 0.5);">
    <div class="container">
         <div class="row cuerpox">
    <div class="col-sm">
    <div class="tarjeta">
        <div class="superior">
            <img id="imagensotaFL" src="img/fotolibro.JPG">
            <div class="nav">
                <img onclick="change_img2(this)" src="img/fotolibro.JPG">
                <img onclick="change_img2(this)" src="img/1.JPG">
                <img onclick="change_img2(this)" src="img/2.JPG">
                <img onclick="change_img2(this)" src="img/3.JPG">
                <img onclick="change_img2(this)" src="img/4.JPG">
                <img onclick="change_img2(this)" src="img/5.JPG">
            </div>
            <div class="precio">$250</div>
        </div>
        <div class="informacion">
        <div class="nombre">Fotolibro</div>
        <div class="detalle">Todos tus recuerdos, immortalizados en la palma de tu mano.</div>
         <a class="btn">Personalizar</a>
        </div>
    </div>
             </div>
             <div class="col-sm">
    <div class="tarjeta">
        <div class="superior">
            <img id="imagensotaFR" src="img/fr0.JPG">
            <div class="nav">
                <img onclick="change_img(this)" src="img/fr0.JPG">
                <img onclick="change_img(this)" src="img/fr1.JPG">
                <img onclick="change_img(this)" src="img/fr2.JPG">
                <img onclick="change_img(this)" src="img/fr3.JPG">
                <img onclick="change_img(this)" src="img/fr4.JPG">
                <img onclick="change_img(this)" src="img/fr5.JPG">
            </div>
            <div class="precio">$???</div>
        </div>
        <div class="informacion">
        <div class="nombre">Foto Regalo</div>
        <div class="detalle">Una manera ingeniosa de transportar tu felicidad</div>
        <a class="btn">Personalizar</a>
        </div>
    </div>
             </div>
             <div class="col-sm">
    <div class="tarjeta">
        <div class="superior">
            <img id="imagensotaFM" src="img/fotomarco.JPG">
            <div class="nav">
                <img onclick="change_img3(this)" src="img/fotomarco.JPG">
                <img onclick="change_img3(this)" src="img/fm1.JPG">
                <img onclick="change_img3(this)" src="img/fm2.jpg">
                <img onclick="change_img3(this)" src="img/fm3.jpg">
                <img onclick="change_img3(this)" src="img/fm4.jpg">
                <img onclick="change_img3(this)" src="img/fm5.JPG">
            </div>
            <div class="precio">$???</div>
        </div>
        <div class="informacion">
        <div class="nombre">Foto-Marcos</div>
        <div class="detalle">Impresión en papel de alta calidad, para conservar memorabilia.</div>
        <a class="btn">Personalizar</a>
        </div>
    </div>
             </div>
             </div>
        </div>
    </div>
    <h1 class="detalles display-4"><small>Detalles</small></h1>
    <div class="infografico">
        <div class="inner">
        <div class="border"></div>
        <div class="row">
            <div class="col">
            <div class="info">
                <img src="img/fotolibro.jpg" alt="">
                <div class="name">FOTOLIBROS</div>
                <div class="estrellas"></div>
                <p>Nuestros fotolibros ofrecen una alternativa a los albumes fotográficos tradicionales, ofreciendo un nivel de personalización, elegancia y portabilidad más creativa.</p></div></div>
            <div class="col">
            <div class="info">
                <img src="img/fr0.JPG" alt="">
                <div class="name">FOTO REGALOS</div>
                <div class="estrellas"></div>
                <p>Lleva contigo las memorias de días pasados en articulos para compartir, asociar y mostrar ante el mundo de maneras dinamicas y emocionantes.</p></div></div>
            <div class="col">
            <div class="info">
                <img src="img/fotomarco.jpg" alt="">
                <div class="name">FOTOMARCOS</div>
                <div class="estrellas"></div>
                <p>Inmortaliza las piezas clave y esenciales de tu memoria, haciendo uso de un enmarcado de alta calidad, al nivel de belleza de sus recuerdos más valioso.</p></div></div>
            </div>
        </div>
        </div>
    
    
    </body>
<script src="./index.js"></script>
</html>