<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{margin: 0 auto; user-select: none; color: rgba(180, 180, 180, 1) }
        body{background-color: rgb(185, 185, 185);}
        .app{width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; animation: fade 1s ease-in-out  alternate forwards ; opacity: 0;}
        .editorContainer{overflow: hidden; display: grid; grid-template-columns: 630px 100px; row-gap: 12px; column-gap: 12px; width: 800px;}
        .blueRect{width: 210px; height: 120px; background-color: white; display: flex; align-items: center; justify-content: center;}
        .mainEditorContainer{ width: 630px; height: 360px; }
        .pagesEditorContainer{display: flex; flex-flow: row; background-color: aquamarine; width:500px;}
        .toolBarContainer{ width: 100px; height: 492px; grid-row: 1 / 3; grid-column: 2/3; background-color: aquamarine; display: flex; align-items: center;}
        .pageBtn{color: rgba(180, 180, 180, 1);}
        @keyframes fade {from{opacity: 0;} to{opacity: 1;}};

    </style>
</head>

<body>
    <div class="app">
        <div class="editorContainer">
            <div class="blueRect pagesEditorContainer">
                <div class="pageBtn"><</div>
                <div class="blueRect"><canvas id="leftPage" width="210px" height="120px" style="cursor: pointer"></canvas></div>
                <div class="blueRect"><canvas id="rightPage" width="210px" height="120px" style="cursor: pointer"></canvas></div>
                <div class="pageBtn">></div>
            </div>
            <div class="toolBarContainer">
                <div class="blueRect" style="width: 100px; height: 492px; cursor: pointer;">  <a id="downloadLink" download="file.jpg">descargar</a>
                </div>
            </div>
            <div class="blueRect mainEditorContainer">
                <canvas id="mainEditor" width="630px" height="360px"></canvas>
            </div>
        </div>
    </div>
</body>
<script src="./editor.js"></script>
</html>