<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <title>uPrint</title>
</head>

<body id="home" data-spy="scroll" data-target="#main-nav" style="background-image:url(img/dif2.png)">
  <nav id="navbar" class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="main-nav">
    <div class="container">
      <a href="../logo.html" class="navbar-brand">
        <img src="../logo/homelogo-01.png" width="180px" height="32px" alt="">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pt-2">
            <a href="../logo.html" class="nav-link"><h1 class="lead" style="font-size: 22px"> Inicio </h1></a>
          </li>
          <li class="nav-item pt-2">
            <a href="../sony/index2.html" class="nav-link"><h1 class="lead" style="font-size: 22px"> Productos </h1></a>
          </li>
          <li class="nav-item pt-2">
            <a href="#" class="nav-link"><h1 class="lead" style="font-size: 22px"> Personalización </h1></a>
          </li>
          <li class="nav-item pt-2">
            <a href="#" class="nav-link"><h1 class="lead" style="font-size: 22px"> Contacto </h1></a>
          </li>

          <li class="nav-item pt-2">
              <button type="button" class="btn btn-primary">
                <a id="shoppingBag" href="#">
                <i class="fas fa-shopping-cart text-white"></i>
                <span class="badge badge-light text-secondary">0</span>
                <span class="sr-only">unread messages</span>
                </a>
             </button>
          </li>

        </ul>
      </div>
    </div>
  </nav>

<!--Carousel-->
<section id="carousel" style="background-image:url(img/dif1.png)">
    
  <div class="container mb-4">
    <div class="row mt-1 pt-2 pb-2">
      <div class="col">

      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
    <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleFade" data-slide-to="1"></li>
    <li data-target="#carouselExampleFade" data-slide-to="2"></li>
      </ol>

              

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="img/fondo12.png"
        alt="First slide">
      <div class="carousel-caption d-none d-md-block text-right">
              <h1 class="lead" style="font-size: 40px">Personaliza tus productos</h1>
              <p class="lead">Crea tus propios estilos o utiliza alguno de los nuestros</p>
              <a href="../sony/index3.html" class="nav-link">
              <button type="button" class="btn btn-lg btn-info pl-4 pr-4">Comenzar!</button>
              </a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/fondo13.png"
        alt="Second slide">
      <div class="carousel-caption d-none d-md-block text-left">
              <h1 class="lead" style="font-size: 40px">¿Como hago mis estilos?</h1>
              <p class="lead">Crea o elige algun estilo y dales vida en la variedad de productos</p>
              <a href="../sony/index.html" class="nav-link">
              <button type="button" class="btn btn-lg btn-info pl-4 pr-4">Leer más</button>
              </a>  
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/fondo14.png"
        alt="Third slide">
      <div class="carousel-caption d-none d-md-block text-right">
              <h1 class="lead" style="font-size: 40px">Eventos especiales</h1>
              <p class="lead">Inmortaliza los momentos más importantes</p>
              <a href="" class="nav-link">
              <button type="button" class="btn btn-lg btn-info pl-4 pr-4">Navegar</button>
              </a> 
      </div>
    </div>
  </div>
 


  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <i style="font-size: 60px" class="fas fa-arrow-alt-circle-left"></i>
    <span class="sr-only">Previous</span>
  </a>



  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <i style="font-size: 60px" class="fas fa-arrow-alt-circle-right"></i>
    <span class="sr-only">Next</span>
  </a>
      </div>
  
      </div>
         
    </div>
  </div> 
</section> 
       
<section>
    <div class="container">
        <div class="row">
            <div class="co-md-4">
                <h1 class="lead ml-4 mb-4" style="font-size: 30px"> <i class="fas fa-search"></i> Catálogo </h1>
                     <div class="col-md-12">
                
                <ul>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Foto Regalos</a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="fas fa-prescription-bottle"></i> Termos</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-coffee"></i> Tazas</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-mobile-alt"></i> Funda telefono</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-puzzle-piece"></i> Rompecabezas</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-mouse-pointer"></i> Mousepad</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-key"></i> Llaveros</a>
                        </div>
                     </li>
                
                </ul>

                <ul>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Foto Libro</a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="fas fa-book"></i> Fotolibro bodas</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-book"></i> Fotolibro bautizo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-calendar-alt"></i> Agenda</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-book"></i> Foto libro eventos</a>
                        </div>
                     </li>
                
                </ul>

                <ul>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Foto Marcos</a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="fas fa-magic"></i> Acabado Ultra</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-magic"></i> Acabado Lino</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-magic"></i> Acabado brillo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-box-open"></i> Caja de fotos</a>
                        </div>
                     </li>
                
                </ul>
                
                
            </div>
            </div>
            
            <div class="col-md-8 text-center pb-3 ml-5">
                <h1 class="lead mb-4" style="font-size: 30px"> <i class="fas fa-gift"></i> Foto Regalos </h1>
                <div class="container pb-5">
        
        <div class="row">
            <div class="col-md-4">
                    
        <div class="card text-center mb-4">
            <img class="card-img-top" src="img/cellphone1.png" width="50" height="210" alt="Card image cap">
        <div class="card-body">
            <blockquote class="blockquote">
            <p class="mb-0">Producto 1</p>
            <footer class="blockquote-footer text-center">desde <cite title="Source Title">$200 MXN</cite></footer>
            </blockquote>

            <ul class="list-unstyled" style="text-align: left">
                <ul>
                <li>Modelo ergonómico</li>
                <li>Material resistente</li>
                <li>Personalizable al gusto</li>
                </ul>
            </ul>
        </div>
        </div>

        <div class="card text-center mb-4">
            <img class="card-img-top" src="img/custom5.png" width="50" height="210" alt="Card image cap">
        <div class="card-body">
            <blockquote class="blockquote">
            <p class="mb-0">Producto 2</p>
            <footer class="blockquote-footer text-center">desde <cite title="Source Title">$200 MXN</cite></footer>
            </blockquote>

            <ul class="list-unstyled" style="text-align: left">
                <ul>
                <li>Modelo ergonómico</li>
                <li>Material resistente</li>
                <li>Personalizable al gusto</li>
                </ul>
            </ul>
        </div>
        </div>

            </div>
            <div class="col-md-4">
             <div class="card text-center mb-4">
            <img class="card-img-top" src="img/custom1.png" width="50" height="210" alt="Card image cap">
        <div class="card-body">
            <blockquote class="blockquote">
            <p class="mb-0">Producto 3</p>
            <footer class="blockquote-footer text-center">desde <cite title="Source Title">$200 MXN</cite></footer>
            </blockquote>

            <ul class="list-unstyled" style="text-align: left">
                <ul>
                <li>Modelo ergonómico</li>
                <li>Material resistente</li>
                <li>Personalizable al gusto</li>
                </ul>
            </ul>
        </div>
        </div>

        <div class="card text-center">
            <img class="card-img-top" src="img/custom2.png" width="50" height="210" alt="Card image cap">
        <div class="card-body">
            <blockquote class="blockquote">
            <p class="mb-0">Producto 4</p>
            <footer class="blockquote-footer text-center">desde <cite title="Source Title">$200 MXN</cite></footer>
            </blockquote>

            <ul class="list-unstyled" style="text-align: left">
                <ul>
                <li>Modelo ergonómico</li>
                <li>Material resistente</li>
                <li>Personalizable al gusto</li>
                </ul>
            </ul>
        </div>
        </div>

            </div>
            <div class="col-md-4">
                 <div class="card text-center mb-4">
            <img class="card-img-top" src="img/custom3.png" width="50" height="210" alt="Card image cap">
        <div class="card-body">
            <blockquote class="blockquote">
            <p class="mb-0">Producto 5</p>
            <footer class="blockquote-footer text-center">desde <cite title="Source Title">$200 MXN</cite></footer>
            </blockquote>

            <ul class="list-unstyled" style="text-align: left">
                <ul>
                <li>Modelo ergonómico</li>
                <li>Material resistente</li>
                <li>Personalizable al gusto</li>
                </ul>
            </ul>
        </div>
        </div>
        
        <div class="card text-center">
            <img class="card-img-top" src="img/custom4.png" width="50" height="210" alt="Card image cap">
        <div class="card-body">
            <blockquote class="blockquote">
            <p class="mb-0">Producto 6</p>
            <footer class="blockquote-footer text-center">desde <cite title="Source Title">$200 MXN</cite></footer>
            </blockquote>

            <ul class="list-unstyled" style="text-align: left">
                <ul>
                <li>Modelo ergonómico</li>
                <li>Material resistente</li>
                <li>Personalizable al gusto</li>
                </ul>
            </ul>
        </div>
        </div>

            </div>

        
           
        </div>
    </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mb-4">
    <div class="row text-center">

        <div class="col-md-5">
        </div>
        
        <div class="col-md-4">
            <nav aria-label="...">    
                <ul class="pagination">
                    <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                    <a class="page-link" href="#">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
     
    </div>
    </div>
</section>


<section>
    <div class="container text-center mb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/card2.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Foto libros</h5>
                        <p class="card-text">Nuestros fotolibros ofrecen una alternativa a los albumes fotográficos tradicionales, ofreciendo un nivel de personalización, elegancia y portabilidad más creativa.</p>
                        <a href="#" class="btn btn-primary">Navegar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/card3.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title pb-3">Foto regalos</h5>
                        <p class="card-text">Lleva contigo las memorias de días pasados en articulos para compartir, asociar y mostrar ante el mundo de maneras dinamicas y emocionantes.</p>
                        <a href="#" class="btn btn-primary">Navegar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/card1.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title pb-3">Foto marcos</h5>
                        <p class="card-text">Inmortaliza las piezas clave y esenciales de tu memoria, haciendo uso de un enmarcado de alta calidad, al nivel de belleza de sus recuerdos más valioso.</p>
                        <a href="#" class="btn btn-primary">Navegar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>    

  <!-- FOOTER -->
  <footer id="main-footer" class="pt-3 pb-5 text-white" style="background-image:url(img/dif3.png)">
      
      <div class="container mb-5">
        <div class="row text-center">
           
            <div class="col-md-4">
            </div>
            <div class="col-md-1">
                <i class="fab fa-facebook fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-envelope fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-phone-square fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-map-marker-alt fa-3x"></i>
            </div>
            <div class="col-md-3">
            </div>
        
        </div>
            </div>



    <div class="container">
      <div class="row text-center">

            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <h6 class="lead" style="font-size: 15px">
                <span id="year"></span>
                &copy; uPrint.com <br> Todos los Derechos Reservados
                </h6>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-dark">Terminos & Condiciones</button>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-dark">Aviso de Privacidad</button>
            </div>
             

      </div>
        
    </div>      

  </footer>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-nav' });

    // Smooth Scrolling
    $("#main-nav a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;
        });
      }
    });
  </script>

  <script>
    $('.carousel').carousel({
      interval: 3000,
      keyboard: true,
      pause: 'hover',
      wrap: true
    });

    $('#slider4').on('slide.bs.carousel', function () {
      console.log('SLIDE!');
    });

    $('#slider4').on('slid.bs.carousel', function () {
      console.log('SLID!');
    });

  </script>


</body>

</html>