<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <title>uPrint</title>
</head>

<body id="home" data-spy="scroll" data-target="#main-nav">
  <nav id="navbar" class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="main-nav">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="../logo/homelogo-01.png" width="180px" height="32px" alt="">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="/productos" class="nav-link">Productos</a>
          </li>
          <li class="nav-item">
            <a href="/personalizar" class="nav-link">Personalización</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contacto</a>
          </li>

          <li class="nav-item">
              <button type="button" class="btn btn-primary">
                <a id="shoppingBag" href="#"><i class="material-icons text-light pt-1">shopping_basket <span class="badge badge-light text-secondary">0</span>
                <span class="sr-only">unread messages</span> </i> 
                </a>
            </button>
            
          </li>
        </ul>
      </div>
    </div>
  </nav>

<section>
    <div class="container mb-2">
        <div class="row">
            <div class="col-md-12">
                
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item" style="font-size: 15px"><a href="#">Productos</a></li>
    <li class="breadcrumb-item" style="font-size: 15px"><a href="#">Foto Regalos</a></li>
    <li class="breadcrumb-item active" aria-current="page" style="font-size: 15px">Funda Telefono</li>
  </ol>
</nav>

                <h1 class="lead" style="font-size: 30px"> <i class="fas fa-mobile-alt"></i> Funda Telefono </h1>
            </div>
        </div>
    </div>
</section>    

  <section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
        <div class="card text-center mb-4">
            <img id="pepa" class="text-center" src="img/custom5.png" alt="Card image cap">
        <div class="card-body">
            <i class="fas fa-images fa-3x mr-3 ml-3"></i><i class="fas fa-images fa-3x mr-3 ml-3"></i><i class="fas fa-images fa-3x mr-3 ml-3"></i>
            <ul class="list-unstyled mt-3" style="text-align: left">
                <ul>
                <li>Modelo ergonómico</li>
                <li>Material resistente</li>
                <li>Personalizable al gusto</li>
                </ul>
            </ul>
        </div>
        </div>
            </div>

            <div class="col-md-8">
                <h1 class="lead" style="font-size: 20px"> Precio & Configuración </h1>
        <div class="card text-left mb-4 pl-3 pr-3 pt-3 pb-3">
          
<form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Modelo:</label>
    <div class="col-sm-10">
      <select class="form-control">
        <option>iPhone XS</option>
        <option>iPhone XS Max</option>
        <option>iPhone 11</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Bordado: <i class="fas fa-question-circle"></i></label>
    <div class="col-sm-10">
      <select class="form-control">
        <option>Metalico</option>
        <option>Fibra</option>
        <option>????</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Material:</label>
    <div class="col-sm-10">
      <select class="form-control">
        <option>Plastico</option>
        <option>Piel</option>
        <option>Metal</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Color:</label>
    <div class="col-sm-10">
      <select class="form-control">
        <option>Rosa</option>
        <option>Azul</option>
        <option>Verde</option>
      </select>
    </div>
  </div>
</form>
        </div>

        <div class="card text-left mb-4 pl-3 pr-3 pt-3 pb-3 bg-gray">
          
<form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Cantidad:</label>
    <div class="col-sm-10">
      <select class="form-control">
        <option>1 Pieza</option>
        <option>2 Piezas</option>
        <option>3 Piezas</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Impresión <i class="fas fa-question-circle"></i></label>
    <div class="col-sm-10">
      <select class="form-control">
        <option>Regular</option>
        <option>Media</option>
        <option>Instantaneo</option>
      </select>
    </div>
  </div>
</form>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-7"></div>
                <label class="col-md-3 text-left">Costo de imprenta: </label>
                <h1 class="text-success col-md-2" style="font-size: 20px"> $200.00 </h1>
            </div>
        </div> 
        <div class="card-body">
            <div class="row text-center">
                
                <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-lg pl-3 pr-3 mt-2 mb-2"><i class="fas fa-dollar-sign"></i> Ordenar Ahora </button>
                </div>
                <div class="col-md-12">
                    o <a  href="/editor"><button type="button" class="btn btn-outline-success pl-3 pr-3 mt-2 mb-2" style="color: aliceblue;"> Crear mi diseño</button></a>
                </div>
            </div>
            
        </div>    

        </div>
               
            </div>
        </div>
    </div>
  </section>
  
<section>
<div class="container">
    <h1 class="lead text-center mt-5 mb-3" style="font-size: 30px"> ¿Buscabas algo más? </h1>
    <div class="row">
        <div class="col-md-3">
                    
        <div class="card text-center mb-4">
            <img class="card-img-top" src="img/custom4.png" width="50" height="240" alt="Card image cap">
        <div class="card-body">
            <blockquote class="blockquote">
            <p class="mb-0">Producto 6</p>
            <footer class="blockquote-footer text-center">desde <cite title="Source Title">$200 MXN</cite></footer>
            </blockquote>

        </div>
        </div>
    
        </div>
        
           <div class="col-md-3">
             <div class="card text-center mb-4">
            <img class="card-img-top" src="img/custom1.png" width="50" height="240" alt="Card image cap">
        <div class="card-body">
            <blockquote class="blockquote">
            <p class="mb-0">Producto 3</p>
            <footer class="blockquote-footer text-center">desde <cite title="Source Title">$200 MXN</cite></footer>
            </blockquote>

        </div>
        </div>

            </div>
           <div class="col-md-3">
          
        <div class="card text-center mb-4">
            <img class="card-img-top" src="img/custom2.png" width="50" height="240" alt="Card image cap">
        <div class="card-body">
            <blockquote class="blockquote">
            <p class="mb-0">Producto 4</p>
            <footer class="blockquote-footer text-center">desde <cite title="Source Title">$200 MXN</cite></footer>
            </blockquote>

        </div>
        </div>

            </div>

        <div class="col-md-3">
                 <div class="card text-center mb-4">
            <img class="card-img-top" src="img/custom3.png" width="50" height="240" alt="Card image cap">
        <div class="card-body">
            <blockquote class="blockquote">
            <p class="mb-0">Producto 5</p>
            <footer class="blockquote-footer text-center">desde <cite title="Source Title">$200 MXN</cite></footer>
            </blockquote>

        </div>
        </div>

            </div>
        
    </div>
</div>
</section>


  <!-- FOOTER -->
  <footer id="main-footer" class="pt-3 pb-5 text-white" style="background-image:url(img/dif3.png)">
      
      <div class="container mb-5">
        <div class="row text-center">
           
            <div class="col-md-4">
            </div>
            <div class="col-md-1">
                <i class="fab fa-facebook fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-envelope fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-phone-square fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-map-marker-alt fa-3x"></i>
            </div>
            <div class="col-md-3">
            </div>
        
        </div>
            </div>

    


    <div class="container">
      <div class="row text-center">

            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <h6 class="lead" style="font-size: 15px">
                <span id="year"></span>
                &copy; uPrint.com <br> Todos los Derechos Reservados
                </h6>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-dark">Terminos & Condiciones</button>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-dark">Aviso de Privacidad</button>
            </div>
             

      </div>
        
    </div>      

  </footer>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-nav' });

    // Smooth Scrolling
    $("#main-nav a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;
        });
      }
    });
  </script>

  <script>
    $('.carousel').carousel({
      interval: 3000,
      keyboard: true,
      pause: 'hover',
      wrap: true
    });

    $('#slider4').on('slide.bs.carousel', function () {
      console.log('SLIDE!');
    });

    $('#slider4').on('slid.bs.carousel', function () {
      console.log('SLID!');
    });

  </script>


</body>

</html>