<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>Log-In</title>
    <link rel="stylesheet" href="css/style.css">
    </head>
<body style="margin: 0;
padding: 0;
font-family: sans-serif;
background-color: #CBCCD1;">

    <form class="box" action="/login" method="post">
    <img src="img/logouprint.png">
    <h1>Login</h1>
    <input type="email" name="" placeholder="Correo">
    <input type="password" name="" placeholder="Contrasena">
    <input type="submit" value="login">
   
        </form>
        <div class="text-center" class="text-align: right;">
                <p>Necesitas una cuenta? <a href="/signup">Registarse</a></p>
                <p>Volver a <a href="/">Inicio</a>.</p>
              </div>
       
    </body></html>