<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <% include partials/head %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <title>UPrint</title>
</head>
<body>

    <nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#"> 
                <img src="logo/homelogo-01.png" width="180px" height="32px" alt="logo">
            </a>
            <ul class="navbar-nav">
            <li class="nav-item active float-right">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Productos">Link</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/Login">Login</a>
                </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <div class="iconContainer">
                <a href="#"><i class="material-icons">shopping_basket</i></a>
            </div>
            </ul>
        </div>

    </nav>

    <section class="homeSection">
        <div id="logoContainer" class="logoContainer">
            <svg version="1.1" id="Capa_1" width="304px" height="282px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 404 382" style="enable-background:new 0 0 302 251;" xml:space="preserve">
           <style type="text/css">
               .st0{fill:none;stroke:url(#SVGID_1_);stroke-width:21;stroke-linecap:round;stroke-miterlimit:10;}
               .st1{fill:url(#SVGID_2_);}
               .st2{fill:#383838;}
               .st3{font-family:'Roboto-Thin';}
               .st4{font-size:45.4054px;}
               .st5{letter-spacing:22;}
           </style>
           <g>
               <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="58.879" y1="158.5" x2="335.121" y2="158.5">
                   <stop  offset="0" style="stop-color:#79D4A9"/>
                   <stop  offset="0.2" style="stop-color:#EADED0"/>
                   <stop  offset="0.3" style="stop-color:#B588A5"/>
                   <stop  offset="0.4" style="stop-color:#96B8BA"/>
                   <stop  offset="0.6" style="stop-color:#696AAD"/>
                   <stop  offset="0.7" style="stop-color:#60C7B6"/>
                   <stop  offset="0.8" style="stop-color:#49B0AD"/>
                   <stop  offset="0.9" style="stop-color:#125C89"/>
                   <stop  offset="1" style="stop-color:#B588A5"/>
               </linearGradient>
               <path id="logoSvg" class="st0" d="M69.4,64.3c0,0,0,51,0,101s1,101,75,101s58-49.5,58-100.5s-1.9-90.5,7-102c7-9,8.5-13.5,46-13
                   c75,0,69,70,69,70s8,68-68,68"/>
               <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="248.879" y1="117.7688" x2="278.879" y2="117.7688">
                   <stop  offset="0" style="stop-color:#79D4A9"/>
                   <stop  offset="0.4308" style="stop-color:#96B8BA"/>
                   <stop  offset="0.9615" style="stop-color:#125C89"/>
               </linearGradient>
               <ellipse id="circulo" class="st1" cx="263.9" cy="117.8" rx="15" ry="20"/>
           </g>
           <g>
               <text transform="matrix(1 0 0 1 61.1933 344.6005)" class="tipo">UPRINT</text>
           </g>
           </svg>
        </div>
    </section>
    
    <section id="section1">
    </section>
    
    <section id="section2" style="background-color: #49B0AD">
    </section>

</body>
<script src="index.js"></script>
</html>