<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <title>uPrint</title>
</head>

<body id="home" data-spy="scroll" data-target="#main-nav">
  <nav id="navbar" class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="main-nav">
    <div class="container">
      <a href="../logo.html" class="navbar-brand">
        <img src="../logo/homelogo-01.png" width="180px" height="32px" alt="">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="../UPrint/Productos.html" class="nav-link">Productos</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Personalización</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contacto</a>
          </li>

          <li class="nav-item">
              <button type="button" class="btn btn-primary">
                <a id="shoppingBag" href="#"><i class="material-icons text-light pt-1">shopping_basket <span class="badge badge-light text-secondary">0</span>
                <span class="sr-only">unread messages</span> </i> 
                </a>
            </button>
            
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Categoria del producto -->
  <section id="newsletter1" class="bg-dark text-white text-center pt-1 pb-1" style="background-image:url(img/dif3.png)">
    <div class="container"> 
        <h1 class="display-4" style="font-size: 50px">¿Cómo debo personalizar?</h1>
    </div>
  </section>


  <!-- Acerca de la categoria del producto -->
  <section style="background-image:url(img/dif5.png)">
    
      <div class="container-fluid pt-5 pb-5">

          <div class="row">
          
    <div class="col-md-2">
    </div>

    <div class="col-md-5 mt-3 text-center">
        <button type="button" class="btn btn-outline-info">
            <img src="img/cellphone1.png" alt="" class="">
        </button>
    </div>
    
    <div class="col-md-3 text-center">
            <h1 class="lead text-white" style="font-size: 30px"> <i class="fas fa-mobile-alt"></i> Fundas para smartphone</h1>

          <div class="card" style="">
                    <div class="card-body">
                        <h5 class="card-title lead">Caracteristicas principales</h5>
                        <p class="card-text ">Estos son los parametros principales para poder diseñar tu funda de smartphone
                        </p>
                    </div>

                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                        <i class="fas fa-text-height"></i> <i class="fas fa-arrow-right"></i> Alto
                        </li>
                        <li class="list-group-item">
                        <i class="fas fa-text-width"></i> <i class="fas fa-arrow-right"></i> Ancho
                        </li>
                        <li class="list-group-item">
                        <i class="fab fa-accusoft"></i> <i class="fas fa-arrow-right"></i> Material
                        </li>
                        <li class="list-group-item">
                        <i class="fas fa-mobile"></i> <i class="fas fa-arrow-right"></i> Modelo
                        </li>
                        
                        </ul>

                    <div class="card-body text-center">
                    
                    <a href="#" class="btn btn-info" data-toggle="modal" data-target="#addUserModal">
                    <i class="fas fa-plus"></i> Modelos disponibles
                    </a>
                        
                    </div>
              </div>
    
    </div>
              
    
          </div>
          
      </div> <!--Container-->
    
  </section>


<section id="newsletter1" class="text-center mt-4 pt-1 pb-1" style="background-image:url(img/dif2.png)">
    <div class="container"> 
        <h1 class="display-4">Diseños Predeterminados</h1>
    </div>
</section>


<!--Carousel-->
<section id="carousel">
    
  <div class="container" style="max-width: 50rem; max-height: 50rem;">
    <div class="row mt-1 pt-1">
      <div class="col-md-6">

        <!-- SLIDER WITH CAPTIONS -->
        <div id="slider4" class="carousel slide mb-5" data-ride="carousel" style="background-image:url(img/dif2.png)">
          <ol class="carousel-indicators">
            <li class="active" data-target="#slider4" data-slide-to="0"></li>
            <li data-target="#slider4" data-slide-to="1"></li>
            <li data-target="#slider4" data-slide-to="2"></li>
            <li data-target="#slider4" data-slide-to="3"></li>
            <li data-target="#slider4" data-slide-to="4"></li>
            
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block img-fluid rounded mx-auto d-block" src="img/custom1.png" alt="First Slide">
              <div class="carousel-caption d-none d-md-block">
                <button type="button" class="btn btn-danger btn-lg">Funda Roja <br> $200</button>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid rounded mx-auto d-block" src="img/custom2.png" alt="Second Slide">
              <div class="carousel-caption d-none d-md-block">
                <button type="button" class="btn btn-warning btn-lg">Funda Amarilla <br> $150</button>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid rounded mx-auto d-block" src="img/custom3.png" alt="Third Slide">
              <div class="carousel-caption d-none d-md-block">
                <button type="button" class="btn btn-primary btn-lg">Funda Violeta <br> $291</button>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid rounded mx-auto d-block" src="img/custom4.png" alt="Third Slide">
              <div class="carousel-caption d-none d-md-block">
                <button type="button" class="btn btn-success btn-lg">Funda Verde <br> $123</button>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid rounded mx-auto d-block" src="img/custom5.png" alt="Third Slide">
              <div class="carousel-caption d-none d-md-block">
                <button type="button" class="btn btn-danger btn-lg">Funda Rosa <br> $300</button>
              </div>
            </div>
     
          </div>

          <!-- CONTROLS -->
          <a href="#slider4" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>

          <a href="#slider4" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
        
      <div class="col-md-6 text-center">
      
       <div class="card mt-5 mb-5" style="background-image:url(img/dif5.png)">

                    <div class="card-body">
                        <h5 class="card-title lead text-white">Elige el diseño que más te agrade</h5>
                    </div>
                        <ul class="list-group list-group-flush">
                    
                        <li class="list-group-item">
                        
                        <h5>Diseño Predeterminado</h5>
                        <p class="card-text ">Utiliza un diseño por predeterminado
                        </p>

                        <button type="button" class="btn btn-info" href="#modelosventana">
                        <i class="fas fa-angle-double-right"></i> Elegir!
                        </button>

                        </li>
                        </ul>
              </div>
      </div> 
    </div>
  </div> 
</section> 

  <!-- BOXES -->
  <section id="boxes" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
           <div class="card">
              <div class="card-header text-center">
                <h5 class="mb-0">
                  <div class="showInfo" href="#collapseA" data-toggle="collapse" data-parent="#accordion">
                     <p style="font-size: 20px" class="text-secondary">Elige tu producto</p>
                     <i class="fas fa-arrow-circle-down"></i>
                     <i class="fas fa-tshirt"></i>
                  </div>
                </h5>
              </div>

              <div id="collapseA" class="collapse">
                <div class="card-body">
                   <p class="text-muted">Elige uno de los productos de todas nuestras categorias</p> 
                </div>
              </div>
            </div>
            
            
        </div>

        <div class="col-md-3">
            <div class="card">
              <div class="card-header text-center bg-info">
                <h5 class="mb-0">
                  <div class="showInfo"href="#collapseB" data-toggle="collapse" data-parent="#accordion">
                    <p style="font-size: 19px" class="text-white">Elige tu diseño</p>
                    <i class="fas fa-arrow-circle-down text-white"></i>
                    <i class="fas fa-magic text-white"></i>
                  </div>
                </h5>
              </div>

              <div id="collapseB" class="collapse">
                <div class="card-body">
                  <p class="text-muted">Elige uno de nuestros diseños predeterminados de acuerdo a tu modelo</p>
                </div>
              </div>
            </div>  
        </div>

        <div class="col-md-3">
            <div class="card">
              <div class="card-header text-center">
                <h5 class="mb-0">
                  <div class="showInfo" href="#collapseC" data-toggle="collapse" data-parent="#accordion">
                    <p class="bg-outline-primary text-secondary">Imprime tu producto</p>
                    <i class="fas fa-arrow-circle-down"></i>
                    <i class="fas fa-print"></i>
                  </div>
                </h5>
              </div>

              <div id="collapseC" class="collapse">
                <div class="card-body">
                  <p class="text-muted">Imprime la cantidad de articulos que necesites</p>
                </div>
              </div>
            </div>  
        </div>

        <div class="col-md-3">
          <div class="card">
              <div class="card-header text-center bg-info">
                <h5 class="mb-0">
                  <div class="showInfo" href="#collapseD" data-toggle="collapse" data-parent="#accordion">
                    <p class="text-white">Recibe tu producto</p>
                    <i class="fas fa-arrow-circle-down text-white"></i>
                    <i class="fas fa-box-open text-white"></i>
                  </div>
                </h5>
              </div>

              <div id="collapseD" class="collapse">
                <div class="card-body">
                  <p class="text-muted">Recibe tu articulo desde la comodidad de tu casa o recojelo en alguna de nuestras sucursales</p>
                </div>
              </div>
            </div>
        </div>

      </div>
    </div>
  </section>

    

<section id="newsletter1" class="text-center mt-5 pt-1 pb-1" style="background-image:url(img/dif2.png)">
    <div class="container"> 
        <h1 class="display-4">Personalización Manual</h1>
    </div>
</section>


<!--Carousel-->
<section id="carousel">
    
  <div class="container" style="max-width: 50rem; max-height: 50rem;">
    <div class="row mt-1 pt-1">
      <div class="col-md-6">

        <!-- SLIDER WITH CAPTIONS -->
        <div id="slider4" class="carousel slide mb-5" data-ride="carousel" style="background-image:url(img/dif2.png)">
         <div id="slider4" class="carousel slide mb-5" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active" data-target="#slider4" data-slide-to="0"></li>
            <li data-target="#slider4" data-slide-to="1"></li>
            <li data-target="#slider4" data-slide-to="2"></li>
            
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block img-fluid rounded mx-auto d-block" src="img/cellphone.png" alt="First Slide">
              <div class="carousel-caption d-none d-md-block">
                <button type="button" class="btn btn-dark btn-lg">Funda para personalizar <br> $200</button>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid rounded mx-auto d-block" src="img/cellphone1.png" alt="Second Slide">
              <div class="carousel-caption d-none d-md-block">
                <button type="button" class="btn btn-light btn-lg">Precio fijo<br> $200</button>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid rounded mx-auto d-block" src="img/cellphone.png" alt="Third Slide">
              <div class="carousel-caption d-none d-md-block">
                <button type="button" class="btn btn-secondary btn-lg">Sin cargos extra</button>
              </div>
            </div>
          </div>

          <!-- CONTROLS -->
          <a href="#slider4" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>

          <a href="#slider4" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
        </div>

                <div class="col-md-6 text-center">
      
                    <div class="card mt-5 mb-5" style="background-image:url(img/dif1.png)">

                    <div class="card-body">
                        <h5 class="card-title lead text-white">Hazlo con tu creatividad</h5>
                    </div>
                        <ul class="list-group list-group-flush">
                    
                        <li class="list-group-item">
                        
                        <h5>Personalización Manual</h5>
                        <p class="card-text ">Personaliza el material a tu gusto
                        </p>    
                            <div class="text-center">
                              <button type="button" class="btn btn-secondary" href="#modelosventana">
                                <i class="far fa-edit"></i> Personalizar!
                              </button>   
                            </div>
                        </li>
                        </ul>
                    </div>
                </div> 
            
        </div>
    </div>
</section> 
    

  <!-- BOXES -->
  <section id="boxes" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
           <div class="card">
              <div class="card-header text-center">
                <h5 class="mb-0">
                  <div class="showInfo" href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                     <p style="font-size: 20px" class="text-secondary">Elige tu producto</p>
                     <i class="fas fa-arrow-circle-down"></i>
                     <i class="fas fa-tshirt"></i>
                  </div>
                </h5>
              </div>

              <div id="collapse1" class="collapse">
                <div class="card-body">
                   <p class="text-muted">Elige uno de los productos de todas nuestras categorias</p> 
                </div>
              </div>
            </div>
            
            
        </div>

        <div class="col-md-3">
            <div class="card">
              <div class="card-header text-center bg-secondary">
                <h5 class="mb-0">
                  <div class="showInfo"href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                    <p style="font-size: 19px" class="text-white">Personaliza tu producto</p>
                    <i class="fas fa-arrow-circle-down text-white"></i>
                    <i class="fas fa-paint-brush text-white"></i>
                  </div>
                </h5>
              </div>

              <div id="collapse2" class="collapse">
                <div class="card-body">
                  <p class="text-muted">Personaliza tu producto a tu gusto o utiliza alguna de nuestras plantillas predeterminadas</p>
                </div>
              </div>
            </div>  
        </div>

        <div class="col-md-3">
            <div class="card">
              <div class="card-header text-center">
                <h5 class="mb-0">
                  <div class="showInfo" href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                    <p class="bg-outline-primary text-secondary">Imprime tu producto</p>
                    <i class="fas fa-arrow-circle-down"></i>
                    <i class="fas fa-print"></i>
                  </div>
                </h5>
              </div>

              <div id="collapse3" class="collapse">
                <div class="card-body">
                  <p class="text-muted">Imprime la cantidad de articulos que necesites</p>
                </div>
              </div>
            </div>  
        </div>

        <div class="col-md-3">
          <div class="card">
              <div class="card-header text-center bg-secondary">
                <h5 class="mb-0">
                  <div class="showInfo" href="#collapse4" data-toggle="collapse" data-parent="#accordion">
                    <p class="text-white">Recibe tu producto</p>
                    <i class="fas fa-arrow-circle-down text-white"></i>
                    <i class="fas fa-box-open text-white"></i>
                  </div>
                </h5>
              </div>

              <div id="collapse4" class="collapse">
                <div class="card-body">
                  <p class="text-muted">Recibe tu articulo desde la comodidad de tu casa o recojelo en alguna de nuestras sucursales</p>
                </div>
              </div>
            </div>
        </div>

      </div>
    </div>
  </section>
    


<!--Ventanas Emergentes-->
<section>
<!-- ADD MODAL -->
  <div class="modal fade" id="addUserModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title"> <i class="fas fa-mobile"></i> Modelos disponibles</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
        <form class="form-inline">
                <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                   aria-label="Search">
            
            <button type="button" class="btn btn-primary btn-sm mt-2 m-2 pl-4 pr-4">Buscar</button>
        </form>

        <section id="posts">
    <div class="container" style="background-image:url(img/fondoestrella.png)">
    
      <div class="row">
          
<div class="col-md-1">
</div>

<div class="col-md-5 mr-1 ml-1 mt-2 mb-2">
        
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="img/apple.jpg" width="10" height="270" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Apple</h5>
        </div>

        <div class="card-header">
                <h5 class="mb-0">
                  <div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                    <i class="fas fa-arrow-circle-down"></i> Modelos
                  </div>
                </h5>
              </div>

        
                <div class="card-body">
                   <ul class="list-group list-group-flush">
                   <li class="list-group-item">iPhone 11 Pro</li>
                   <li class="list-group-item">iPhone 11</li>
                   <li class="list-group-item">iPhone XS</li>
                   </ul>
                </div>

        </div>

</div>
        

<div class="col-md-5 mr-1 ml-1 mt-2 mb-2">
        
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="img/descarga.jpg" width="40" height="270" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Huawei</h5>
        </div>

        <div class="card-header">
                <h5 class="mb-0">
                  <div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                    <i class="fas fa-arrow-circle-down"></i> Modelos
                  </div>
                </h5>
              </div>

        
                <div class="card-body">
                   <ul class="list-group list-group-flush">
                   <li class="list-group-item">Huawei Mate 30 Pro</li>
                   <li class="list-group-item">Huawei P30 Pro</li>
                   <li class="list-group-item">Huawei Mate 20 Pro</li>
                   </ul>
                </div>
    
        </div>

</div>


      <div class="col-md-1">
      </div>

      </div>
    </div>
  </section>



        </div>

      </div>
    </div>
  </div>
</section>



  <!-- FOOTER -->
  <footer id="main-footer" class="pt-3 pb-5 text-white" style="background-image:url(img/dif3.png)">
      
      <div class="container mb-5">
        <div class="row text-center">
           
            <div class="col-md-4">
            </div>
            <div class="col-md-1">
                <i class="fab fa-facebook fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-envelope fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-phone-square fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-map-marker-alt fa-3x"></i>
            </div>
            <div class="col-md-3">
            </div>
        
        </div>
            </div>



    <div class="container">
      <div class="row text-center">

            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <h6 class="lead" style="font-size: 15px">
                <span id="year"></span>
                &copy; uPrint.com <br> Todos los Derechos Reservados
                </h6>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-dark">Terminos & Condiciones</button>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-dark">Aviso de Privacidad</button>
            </div>
             

      </div>
        
    </div>      

  </footer>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-nav' });

    // Smooth Scrolling
    $("#main-nav a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;
        });
      }
    });
  </script>

  <script>
    $('.carousel').carousel({
      interval: 3000,
      keyboard: true,
      pause: 'hover',
      wrap: true
    });

    $('#slider4').on('slide.bs.carousel', function () {
      console.log('SLIDE!');
    });

    $('#slider4').on('slid.bs.carousel', function () {
      console.log('SLID!');
    });

  </script>


</body>

</html>