<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Signin</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body style="margin: 0;
padding: 0;
font-family: sans-serif;
background-color: #CBCCD1;">
                    <!-- form -->
                    <form class="box" method="post" action="signin">
                        <img src="img/logouprint.png">
                        <h1>Login</h1>
                            <input name="email" type="email" placeholder="Correo electrónico" />
                            <input name="password" type="password" placeholder="Contraseña"/>
                            <input type="submit"/>
                       
                    </form>

                    <hr>
                    <div class="text-center">
                        <p>¿Necesita una cuenta? <a href="/signup">Registrarse</a></p>
                        <p>O regresar <a href="/">Inicio</a>.</p>
                    </div>
</body>
</html>