
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ingresar</title>
    <% include partials/head %>
</head>
<body class="signup">
    <div class="container">
        <div class="col-sm-6 mx-auto">
          <div class="card mt-5">
            <div class="card-body">
                <!-- messages -->
                <h1 class="text-center">
                    <span class="fa fa-sign-in"></span> Signup
                </h1>
                <form id="signup" name="signup" method="post" action="/signup">
                    <div class="form-group">
                        <label for="email">Email </label>
                        <input class="form-control" name="email" type="email" />
                    </div>
                    <div class="form-group">
                        <label for="firstname">Nombre</label>
                        <input name="firstname" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="lastname">Apellido</label>
                        <input name="lastname" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input name="password" type="password" class="form-control" />
                    </div>
                    <div class="text-center">
                        <input class="btn btn-dark btn-lg" type="submit" value="Registrarse" />
                    </div>
                </form>
                <hr>
                <div class="text-center">
                    <p>¿Ya tienes una cuenta? <a href="/signin">Ingresar</a></p>
                    <p>O ir a <a href="/">Inicio</a>.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>